body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#inputContainer {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#textMetrics, #wordDetails {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
}

#textMetrics p, #wordDetails p {
  margin: 10px 0;
}

#wordDetails {
  display: none;
}

#wordDetails h2 {
  color: #333;
  margin-bottom: 10px;
}

#wordDetails span {
  font-weight: bold;
}